:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #050505;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  border: 1px solid green;
  height: 100dvh;
  max-width: 1280px;
  align-items: center;
}

.Enter-Btn-Container {
  padding: 2em;
}


.header-container {
  /* border: 1px solid yellow; */

}

.key-card-container {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 60vh;
  width: 80vw;
  justify-items: center;
  align-items: center;
}

main {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 1fr ;
  justify-items: center;
  width: 80vw;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  main {
    width: 100%;
  }
}







