:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  border: 1px solid blue;
  display: grid;
  grid-template-columns: 1fr ;
  justify-items: center;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}

.key-card-container {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 80vw;
  justify-items: center;
  align-items: center;
}

button {
  background-color: aqua;
}









